In [2]:
import pandas as pd
from google.cloud import bigquery
import os
from pymongo import MongoClient
from pandas import DataFrame
import sqlalchemy as db
from sqlalchemy import text

In [3]:
## resgitamos en las variables de entorno la clave de acceso a GCP
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/home/ivaldes/Documents/DataEngineer/Modulo8_Data_Engineering_with_Python/Proyecto/my-first-project-411501-8637e827c401.json"

In [4]:
def get_connect_mongo():

    CONNECTION_STRING ="mongodb+srv://atlas:T6.HYX68T8Wr6nT@cluster0.enioytp.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(CONNECTION_STRING)

    return client

## Ingestar desde MongoDB

## Ingestar desde orders

In [5]:
client = bigquery.Client()
query_string = """
drop table if exists `my-first-project-411501.dep_raw.orders` ;
"""
query_job = client.query(query_string)
rows = list(query_job.result())
print(rows)

[]

In [6]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["orders"] 
orders = collection_name.find({})  
orders_df = DataFrame(orders)
dbconnect.close()

In [7]:
def transform_date(text):
    text = str(text)
    d = text[0:10]
    return d

In [8]:
orders_df['_id'] = orders_df['_id'].astype(str)

In [9]:
orders_df['order_date']  = orders_df['order_date'].map(transform_date)
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'], format='%Y-%m-%d').dt.date

In [67]:
orders_df.dtypes

_id                  object
order_id              int64
order_date           object
order_customer_id     int64
order_status         object
dtype: object

In [10]:
orders_rows=len(orders_df)
if orders_rows>0 :
    client = bigquery.Client()

    table_id =  "my-first-project-411501.dep_raw.orders"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_date", bigquery.enums.SqlTypeNames.DATE),
            bigquery.SchemaField("order_customer_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_status", bigquery.enums.SqlTypeNames.STRING),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        orders_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla orders')

Loaded 68883 rows and 5 columns to my-first-project-411501.dep_raw.orders

## Ingestar desde order_items

In [11]:
client = bigquery.Client()
query_string = """
drop table if exists `my-first-project-411501.dep_raw.order_items` ;
"""
query_job = client.query(query_string)
rows = list(query_job.result())
print(rows)

[]

In [12]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["order_items"] 
order_items = collection_name.find({})  
order_items_df = DataFrame(order_items)
dbconnect.close()

In [13]:
order_items_df['_id'] = order_items_df['_id'].astype(str)

In [14]:
def transform_date(text):
    text = str(text)
    d = text[0:10]
    return d

In [15]:
order_items_df['order_date']  = order_items_df['order_date'].map(transform_date)

In [16]:
order_items_df['order_date'] = pd.to_datetime(order_items_df['order_date'], format='%Y-%m-%d').dt.date

In [17]:
order_items_df.dtypes

_id                          object
order_date                   object
order_item_id                 int64
order_item_order_id           int64
order_item_product_id         int64
order_item_quantity           int64
order_item_subtotal         float64
order_item_product_price    float64
dtype: object

In [18]:
order_items_rows=len(order_items_df)
if order_items_rows>0 :
    client = bigquery.Client()

    table_id =  "my-first-project-411501.dep_raw.order_items"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_date", bigquery.enums.SqlTypeNames.DATE),
            bigquery.SchemaField("order_item_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_product_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_quantity", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_subtotal", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("order_item_product_price", bigquery.enums.SqlTypeNames.FLOAT),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        order_items_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla order_items')

Loaded 172198 rows and 8 columns to my-first-project-411501.dep_raw.order_items

## Ingestar  Products

In [19]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["products"] 
products = collection_name.find({})
products_df = DataFrame(products)
dbconnect.close()

In [20]:
products_df['_id'] = products_df['_id'].astype(str)
products_df['product_description'] = products_df['product_description'].astype(str)

In [21]:
products_rows=len(products_df)
if products_rows>0 :
    client = bigquery.Client(project='my-first-project-411501')

    table_id =  "my-first-project-411501.dep_raw.products"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("product_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("product_category_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("product_name", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("product_description", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("product_price", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("product_image", bigquery.enums.SqlTypeNames.STRING),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        products_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla productos')

Loaded 1345 rows and 7 columns to my-first-project-411501.dep_raw.products

## Ingestar Customers

In [22]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["customers"] 

# customers = collection_name.find({},{"_id":1,"customer_id":1})  filtrar columna
customers = collection_name.find({})
customers_df = DataFrame(customers)
dbconnect.close()

In [23]:
customers_df['_id'] = customers_df['_id'].astype(str)

In [24]:
customers_rows=len(customers_df)
if customers_rows>0 :
    client = bigquery.Client()

    table_id =  "my-first-project-411501.dep_raw.customers"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("customer_fname", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_lname", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_email", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_password", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_street", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_city", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_state", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("customer_zipcode", bigquery.enums.SqlTypeNames.INTEGER),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        customers_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla customers')

Loaded 12435 rows and 10 columns to my-first-project-411501.dep_raw.customers

## Ingestar Categories

In [25]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["categories"] 
categories = collection_name.find({})
categories_df = DataFrame(categories)
dbconnect.close()
categories_df = categories_df.drop(columns=['_id'])

In [26]:
categories_rows=len(categories_df)
if categories_rows>0 :
    client = bigquery.Client()

    table_id =  "my-first-project-411501.dep_raw.categories"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("category_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("category_department_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("category_name", bigquery.enums.SqlTypeNames.STRING),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        categories_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla categories')

Loaded 58 rows and 3 columns to my-first-project-411501.dep_raw.categories

## Ingestar Departaments

In [27]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["departments"] 
departments = collection_name.find({})
departments_df = DataFrame(departments)
dbconnect.close()
departments_df = departments_df.drop(columns=['_id'])

In [28]:
departments_rows=len(departments_df)
if departments_rows>0 :
    client = bigquery.Client()

    table_id =  "my-first-project-411501.dep_raw.departments"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("department_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("department_name", bigquery.enums.SqlTypeNames.STRING)
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        departments_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla departments')

Loaded 6 rows and 2 columns to my-first-project-411501.dep_raw.departments

## Capa Master

In [29]:
pip install db-dtypes

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: db-dtypes in /home/ivaldes/.local/lib/python3.10/site-packages (1.2.0)
Requirement already satisfied: packaging>=17.0 in /usr/lib/python3/dist-packages (from db-dtypes) (21.3)
Requirement already satisfied: pandas>=0.24.2 in /home/ivaldes/.local/lib/python3.10/site-packages (from db-dtypes) (2.1.4)
Requirement already satisfied: pyarrow>=3.0.0 in /home/ivaldes/.local/lib/python3.10/site-packages (from db-dtypes) (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in /home/ivaldes/.local/lib/python3.10/site-packages (from db-dtypes) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ivaldes/.local/lib/python3.10/site-packages (from pandas>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=0.24.2->db-dtypes) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/ivaldes/.local/lib/python3.10/site-packages (from pandas>=0.24.2->db-dtypes) (2023.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=0.24.2->db-dtypes) (1.16.0)
DEPRECATION: distro-info 1.1build1 has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of distro-info or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
DEPRECATION: gpg 1.16.0-unknown has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of gpg or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
DEPRECATION: python-debian 0.1.43ubuntu1 has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of python-debian or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
Note: you may need to restart the kernel to use updated packages.

In [30]:
client = bigquery.Client()
sql = """
    SELECT *
    FROM `my-first-project-411501.dep_raw.order_items`
"""

In [31]:
m_order_items_df = client.query(sql).to_dataframe()

In [32]:
client = bigquery.Client()
sql_2 = """
    SELECT *
    FROM `my-first-project-411501.dep_raw.orders`
"""

In [33]:
m_orders_df = client.query(sql_2).to_dataframe()

In [34]:
df_join = m_orders_df.merge(m_order_items_df, left_on='order_id', right_on='order_item_order_id', how='inner')

In [35]:
df_join

,_id_x,order_id,order_date_x,order_customer_id,order_status,_id_y,order_date_y,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,65b5fb412fdb06ed4b302819,23969,2023-12-21,9970,CLOSED,65ab6050817976f89cb5fc25,2023-12-21,60005,23969,1004,1,399.98,399.98
1,65b5fb412fdb06ed4b302826,23982,2023-12-21,4232,CLOSED,65ab6050817976f89cb5fc45,2023-12-21,60037,23982,502,4,200.00,50.00
2,65b5fb412fdb06ed4b302826,23982,2023-12-21,4232,CLOSED,65ab6050817976f89cb5fc46,2023-12-21,60038,23982,502,3,150.00,50.00
3,65b5fb412fdb06ed4b302830,23992,2023-12-21,11240,CLOSED,65ab6050817976f89cb5fc4e,2023-12-21,60046,23992,1014,4,199.92,49.98
4,65b5fb412fdb06ed4b302830,23992,2023-12-21,11240,CLOSED,65ab6050817976f89cb5fc4f,2023-12-21,60047,23992,1014,4,199.92,49.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172193,65b5fb412fdb06ed4b30bb20,61608,2023-12-20,2828,SUSPECTED_FRAUD,65ab6051817976f89cb76b7f,2023-12-20,154047,61608,365,1,59.99,59.99
172194,65b5fb412fdb06ed4b30bb20,61608,2023-12-20,2828,SUSPECTED_FRAUD,65ab6051817976f89cb76b80,2023-12-20,154048,61608,403,1,129.99,129.99
172195,65b5fb412fdb06ed4b30bb23,61611,2023-12-20,124,SUSPECTED_FRAUD,65ab6051817976f89cb76b86,2023-12-20,154054,61611,35,1,159.99,159.99
172196,65b5fb412fdb06ed4b30bb23,61611,2023-12-20,124,SUSPECTED_FRAUD,65ab6051817976f89cb76b87,2023-12-20,154055,61611,1004,1,399.98,399.98
172197,65b5fb412fdb06ed4b30bb23,61611,2023-12-20,124,SUSPECTED_FRAUD,65ab6051817976f89cb76b88,2023-12-20,154056,61611,1014,1,49.98,49.98

In [36]:
df_master=df_join[[ 'order_id', 'order_date_x', 'order_customer_id',
       'order_status',  'order_item_id',
       'order_item_order_id', 'order_item_product_id', 'order_item_quantity',
       'order_item_subtotal', 'order_item_product_price']]

In [37]:
df_master=df_master.rename(columns={"order_date_x":"order_date"})

In [38]:

def get_group_status(text):
    text = str(text)
    if text =='CLOSED':
        d='END'
    elif text =='COMPLETE':
        d='END'
    else :
        d='TRANSIT'
    return d

In [39]:
df_master['order_status_group']  = df_master['order_status'].map(get_group_status)

In [40]:
df_master['order_date'] = df_master['order_date'].astype(str)
df_master['order_date'] = pd.to_datetime(df_master['order_date'], format='%Y-%m-%d').dt.date

In [41]:
df_master

,order_id,order_date,order_customer_id,order_status,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price,order_status_group
0,23969,2023-12-21,9970,CLOSED,60005,23969,1004,1,399.98,399.98,END
1,23982,2023-12-21,4232,CLOSED,60037,23982,502,4,200.00,50.00,END
2,23982,2023-12-21,4232,CLOSED,60038,23982,502,3,150.00,50.00,END
3,23992,2023-12-21,11240,CLOSED,60046,23992,1014,4,199.92,49.98,END
4,23992,2023-12-21,11240,CLOSED,60047,23992,1014,4,199.92,49.98,END
...,...,...,...,...,...,...,...,...,...,...,...
172193,61608,2023-12-20,2828,SUSPECTED_FRAUD,154047,61608,365,1,59.99,59.99,TRANSIT
172194,61608,2023-12-20,2828,SUSPECTED_FRAUD,154048,61608,403,1,129.99,129.99,TRANSIT
172195,61611,2023-12-20,124,SUSPECTED_FRAUD,154054,61611,35,1,159.99,159.99,TRANSIT
172196,61611,2023-12-20,124,SUSPECTED_FRAUD,154055,61611,1004,1,399.98,399.98,TRANSIT
172197,61611,2023-12-20,124,SUSPECTED_FRAUD,154056,61611,1014,1,49.98,49.98,TRANSIT

In [42]:
df_master.dtypes

order_id                      Int64
order_date                   object
order_customer_id             Int64
order_status                 object
order_item_id                 Int64
order_item_order_id           Int64
order_item_product_id         Int64
order_item_quantity           Int64
order_item_subtotal         float64
order_item_product_price    float64
order_status_group           object
dtype: object

In [49]:
df_master_rows=len(df_master)
if df_master_rows>0 :
    client = bigquery.Client()

    table_id =  "my-first-project-411501.dep_raw.master_order"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_date", bigquery.enums.SqlTypeNames.DATE),
            bigquery.SchemaField("order_customer_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_status", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_item_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_product_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_quantity", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_item_subtotal", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("order_item_product_price", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("order_status_group", bigquery.enums.SqlTypeNames.STRING),
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        df_master, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else : 
    print('alerta no hay registros en la tabla order_items')

Loaded 172198 rows and 12 columns to my-first-project-411501.dep_raw.master_order

###  order_item_subtotal_mn multiplicando el order_item_subtotal por el tipo de cambio y agrcrearegarlo a la tabla  , usar la fuente de datos tipo de cambio , este campo se debe guardar en la tabla master_order

In [50]:
import numpy as np

headers_files = {
    'tipocambio':["fecha","compra","venta","error"]
    }
dwn_url_tipcambio='https://www.sunat.gob.pe/a/txt/tipoCambio.txt'
tipcambio_df = pd.read_csv(dwn_url_tipcambio, names=headers_files['tipocambio'], sep='|')
tipcambio_df.head()
list_t = tipcambio_df.values.tolist()
vari=list_t[0][1]
vari
df_master['order_item_subtotal_mn'] = df_master['order_item_subtotal'] * vari

In [51]:
table = client.get_table(table_id)
# Verificar si la columna ya existe en el esquema
if table and "order_item_subtotal_mn" not in [field.name for field in table.schema]:
    # Obtener el esquema actual de la tabla
    current_schema = table.schema

    # Agregar la nueva columna al esquema
    new_schema = current_schema + [
        bigquery.SchemaField("order_item_subtotal_mn", bigquery.enums.SqlTypeNames.FLOAT)
    ]

    # Crear una nueva tabla con el nuevo esquema
    new_table = bigquery.Table(table_id, schema=new_schema)

    # Crear la nueva tabla en BigQuery
    new_table = client.create_table(new_table)

    # Continuar con el código original para cargar la tabla
    job_config = bigquery.LoadJobConfig(
        write_disposition="WRITE_TRUNCATE",
    )

    job = client.load_table_from_dataframe(
        df_master, table_id, job_config=job_config
    )  
    job.result()  # Esperar a que se complete el trabajo.

    table = client.get_table(table_id)  # Hacer una solicitud de API.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
    print("Nueva columna 'order_item_subtotal_mn' agregada al esquema.")
else:
    # Continuar con el código original para cargar la tabla
    job_config = bigquery.LoadJobConfig(
         write_disposition="WRITE_TRUNCATE",
    )

    job = client.load_table_from_dataframe(
        df_master, table_id, job_config=job_config
    )  
    job.result()  # Esperar a que se complete el trabajo.

    table = client.get_table(table_id)  # Hacer una solicitud de API.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )

Loaded 172198 rows and 12 columns to my-first-project-411501.dep_raw.master_order

### Cargar Tabla  BI

In [52]:
client = bigquery.Client()
query_string = """
create or replace table `my-first-project-411501.dep_raw.bi_orders` as
SELECT 
 order_date,c.category_name ,d.department_name 
 , sum (a.order_item_subtotal) order_item_subtotal
 , sum (a.order_item_quantity) order_item_quantity
FROM `my-first-project-411501.dep_raw.master_order` a
inner join  `my-first-project-411501.dep_raw.products` b on
a.order_item_product_id=b.product_id
inner join `my-first-project-411501.dep_raw.categories` c on
b.product_category_id=c.category_id
inner join `my-first-project-411501.dep_raw.departments` d on
c.category_department_id=d.department_id
group by order_date,c.category_name ,d.department_name
"""
query_job = client.query(query_string)
rows = list(query_job.result())
print(rows)

[]

### Crear la tabla de segmento de clientes en Bigquery  , el caso es crear una tabla de todos los clientes con su categoria de compra favorita , está tabla la deben crear con bigquery
Query :

select customer_id,category_name , order_item_subtotal from
(
  SELECT customer_id,category_name,order_item_subtotal,
  RANK() OVER (PARTITION BY customer_id ORDER BY order_item_subtotal DESC) AS rank_ 
 FROM (
      SELECT 
      d.customer_id ,c.category_name 
      , sum (a.order_item_subtotal) order_item_subtotal
      FROM `premium-guide-410714.dep_raw.master_order` a
      inner join  `premium-guide-410714.dep_raw.products` b on
      a.order_item_product_id=b.product_id
      inner join `premium-guide-410714.dep_raw.categories` c on
      b.product_category_id=c.category_id
      inner join `premium-guide-410714.dep_raw.customers` d on
      a.order_customer_id=d.customer_id
      group by 1,2
  )
)
where rank_=1

In [54]:
client = bigquery.Client()
query_string = """
create or replace table `my-first-project-411501.dep_raw.client_segment` as
select customer_id,category_name , order_item_subtotal from
(
  SELECT customer_id,category_name,order_item_subtotal,
  RANK() OVER (PARTITION BY customer_id ORDER BY order_item_subtotal DESC) AS rank_ 
 FROM (
      SELECT 
      d.customer_id ,c.category_name 
      , sum (a.order_item_subtotal) order_item_subtotal
      FROM `my-first-project-411501.dep_raw.master_order` a
      inner join  `my-first-project-411501.dep_raw.products` b on
      a.order_item_product_id=b.product_id
      inner join `my-first-project-411501.dep_raw.categories` c on
      b.product_category_id=c.category_id
      inner join `my-first-project-411501.dep_raw.customers` d on
      a.order_customer_id=d.customer_id
      group by 1,2
  )
)
where rank_=1
"""
query_job = client.query(query_string)
rows = list(query_job.result())
print(rows)

[]

### Docker
docker run -d --name mongo -p 27017:27017 -e MONGO_INITDB_ROOT_USERNAME=root -e MONGO_INITDB_ROOT_PASSWORD=root mongo:latest

#docker stop mongo; docker rm -v mongo

docker exec -it mongo bash

mongosh --username root --password root

use dbTest

db.createCollection('myFirstCollection')

# Cargar la tabla de segmento de clientes de bigquery a su  MongoDB personal

In [55]:
from pymongo import MongoClient

# Configuración de conexión a BigQuery
client_bq = bigquery.Client()

# Configuración de conexión a MongoDB
client_mongo = MongoClient('mongodb://localhost:27017/')  # Ajusta la URI de conexión según tu configuración
db = client_mongo['dbTest']  # Reemplaza 'tu_base_de_datos' con el nombre de tu base de datos en MongoDB
collection = db['myFirstCollection']  # Nombre de la colección en MongoDB

# Ejecutar la consulta en BigQuery
query_string = """
create or replace table `my-first-project-411501.dep_raw.client_segment` as
select customer_id,category_name , order_item_subtotal from
(
  SELECT customer_id,category_name,order_item_subtotal,
  RANK() OVER (PARTITION BY customer_id ORDER BY order_item_subtotal DESC) AS rank_ 
 FROM (
      SELECT 
      d.customer_id ,c.category_name 
      , sum (a.order_item_subtotal) order_item_subtotal
      FROM `my-first-project-411501.dep_raw.master_order` a
      inner join  `my-first-project-411501.dep_raw.products` b on
      a.order_item_product_id=b.product_id
      inner join `my-first-project-411501.dep_raw.categories` c on
      b.product_category_id=c.category_id
      inner join `my-first-project-411501.dep_raw.customers` d on
      a.order_customer_id=d.customer_id
      group by 1,2
  )
)
where rank_=1
"""
query_job = client_bq.query(query_string)
rows = list(query_job.result())

# Insertar resultados en MongoDB
for row in rows:
    document = {
        'customer_id': row['customer_id'],
        'category_name': row['category_name'],
        'order_item_subtotal': row['order_item_subtotal']
    }
    collection.insert_one(document)

print("Datos insertados en MongoDB correctamente.")

Datos insertados en MongoDB correctamente.